Подписка на рассылку<br>
<br>
Спасибо {{name}}, что Вы подписались на нашу рассылку. 
Пожалуйста, подтвердите своё согласие перейдя по ссылке <a href="http://estz.su/api/news/subcriber/?code={{code}}&name={{name}}&email={{email}}">Click here</a>– так мы убедимся, что подписались именно Вы, а не спамеры или ваш коллега-шутник.<br>
<br>
Соглашаясь с подпиской, Вы подтверждаете своё согласие на получение информационных и персонализированных сообщений с сайта ЕСТЗ, а также связанных с сайтом и/или с тематикой сайта ЕСТЗ, которые могут направляться по адресу электронной почты, указанному пользователем в форме подписки на новостной блок.<br>
<br>
Если Вы не подписывались на получение информационных и персонализированных сообщений с сайта ЕСТЗ, то просто удалите это сообщение.<br>
<br>
Отказаться от получения информационных и персонализированных сообщений с нашего сервера Вы можете в любое время перейдя на страницу
 <a href="http://estz.su/novosti-podpiska-na-novostnoj-blok/">Новости / Подписка на новостной блок</a>
 и введя свой e-mail в специальную форму отказа от подписки.