{% extends "page.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
	<h2 class="how-work">
        <span>Как это работает?</span>
    </h2>
    <div class="foto">
        <div class="pic1">
            <img src="{% static 'images/video.jpg' %}" alt="pic" class="pic1"/>
        </div>

        <a href="https://www.youtube.com/watch?v=rOgabKoV71k" target="_blank" rel="nofollow" class="video">
            <img src="{% static 'images/video.jpg' %}" alt="pic" />
        </a>
    </div>

    <h1 class="title">
        Информация о сервисном инструментарии
        портала ЕСТЗ
    </h1>

    <div class="mark-grey">
        Электронные сервисы, упрощающие текущую деятельность строительных компаний, полезна для руководителей проектов в
        строительной отрасли, девелопмента и редевелопмента, начальников участков и прорабов.
    </div>

    Включает в себя:
    <ul class="list-dash">
        <li>
            - тендерную площадку по различным видам услуг и работ (подбор исполнителей);
        </li>
        <li>
            - базу документов и образцы разрешений и ТУ, «дорожные карты» по сбору исходно‐разрешительной документации и согласованиям проектной, рабочей и технической документации для различных объектов;
        </li>
        <li>
            - формирование документов (например: актов, приказов, сопроводительных писем и прочего);
        </li>
        <li>
            - консультирование в «он‐лайн» режиме по различным вопросам по подготовке документов и согласованиям;
        </li>
        <li>
            - использование защищенных каналов связи с возможностью использования цифровой подписи;
        </li>
        <li>
            - заключение сделок (оперативное заключение с выбранным исполнителем договора в электронном виде с моментальной оплатой через личный кабинет);
        </li>
        <li>
            - невозможность получения откатов на стадии выбора подрядчиков/исполнителей до заключения договора;
        </li>
        <li>
            – контроль (сопровождение кураторами портала «ЕСТЗ») чистоты сделок и их исполнения.
        </li>
    </ul>
{% endblock content %}