{% load staticfiles %}
{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">    
    <title>{% page_attribute 'page_title' %} - Главная</title>
    
    <meta name="description" content="{% page_attribute 'neta_description' %}">
    <meta name="keywords" content="">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render_block "css" %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <link href="{% static 'slick/slick.css' %}" rel="stylesheet">
    {% block content_css %} {% endblock %}
    
    {% render_block "js" %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{% static 'js/prefixfree.min.js' %}"></script>
    <script src="{% static 'slick/slick.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".slider1").slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true
            });
        });
    </script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    {% cms_toolbar %}
    <header>
        <div class="header-in">
            <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="pic"></a>
            <p class="name">Единая Служба<br>Технического Заказчика («ЕСТЗ»)</p>
            <address>
                <p class="house">
                    <span>г.Москва ул.Народного ополчения,</span>
                    <span> д.100, корп.1 стр.А</span>
                </p>
                <a href="mailto:estz@email.com">E-mail: estz@email.com</a>
            </address>
            <div class="skype-search">
                <a class="skype" href="skype:name">Позвонить</a>
                <form class="search" action="." method="post">
                    <input type="text" name=" " placeholder="Поиск">
                    <button></button>
                </form>
            </div>
        </div>
        <div class="header-in-r"></div>
    </header>
    <nav class="nav-top">
        <div class="nav-top-in">
            <a href="/about">О КОМПАНИИ</a>
            <a href="#">РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЕЙ</a>
            <a href="#">ВХОД В ЛИЧНЫЙ КАБИНЕТ</a>
            <a href="#">КОНТАКТ ЦЕНТР / КОНСУЛЬТАЦИИ</a>
            <a href="#">НОВОСТИ</a>
        </div>
    </nav>
    <div class="middle-page">
        <div class="middle-page-in">

            <aside class="aside-l">
                <div class="return">
                    <a href="#">Вернуться на одну страницу</a>
                </div>
                <nav class="nav-l">
                    <ul>
                        {% show_menu 0 100 100 100 %}
                    </ul>
                </nav>

                <ul class="reklama">
                    <li>
                        ВАША<br> РЕКЛАМА
                    </li>
                    <li>
                        ВАША<br> РЕКЛАМА
                    </li>
                </ul>
            </aside>
            <div class="content-page">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <div class="slider1">
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
        <a class="item" href="#">
            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>
        </a>
    </div>

    <footer>
        <div class="footer-in">
            <div class="footer-in-l">
                &copy; 2017-2018 «Портал веб-сервисов для руководителей проектов и руководителей компаний
                застройщиков-заказчиков, генподрядных организаций и служб технического заказчика".
            </div>
            <div class="footer-in-r">
                Администратор сайта - ООО "Единая Служба Технического Заказчика" ("ЕСТЗ").
                Все права принадлежат Чернышову А.Е. При использовании материалов сайта estz.ru указание ссылки на источник обязательно.
            </div>
        </div>
    </footer>
</body>
    {% block content_js %} {% endblock %}
</html>