*{margin:0; padding:0; border:0; outline:0;}
:focus {outline: 0;}
body {line-height:1; color:#000; font-size: 16px; background:#fff;}
ol, ul {list-style:none;}
table {border-collapse:separate; border-spacing:0; table-layout: auto;}
td {vertical-align:top; text-align:left; font-weight:normal;}
th {vertical-align:top; text-align:left; font-weight:bold;}
caption {caption-side: top; text-align: center; font-weight: bold;}
a {cursor:pointer;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
b, strong {font-weight: bold;}
i, em {font-style: italic;}
button {cursor: pointer;}
img {vertical-align: bottom;}
p{margin:0}
/*=====================================================================================================================*/

header, footer, aside, section, article, nav, address, figure, figcaption, hgroup, canvas {display:block; padding:0; margin:0;}
mark, time {display:inline; padding:0; margin:0;}

.clr-both {clear: both;}
.clt-left {clear: left;}
.clt-right {clear: right;}

*::-webkit-input-placeholder {color:#000;}
*::-moz-placeholder {color:#000;}
*:-ms-input-placeholder {color:#000;}
*::-ms-input-placeholder {color:#000;}

*:focus::-webkit-input-placeholder {color: transparent !important}
*:focus::-moz-placeholder          {color: transparent !important}
*:focus:-ms-input-placeholder      {color: transparent !important}
*:focus::-ms-input-placeholder      {color: transparent !important}

